<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>MVVM</title>
    <style>
      .highlight {
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="mvvm-app">
      <p>双绑 浅层：</p>
      <input class="highlight" type="text" v-model="someStr" />
      <br />
      <p>双绑 嵌套：</p>
      <input class="highlight" type="text" v-model="child.someStr" />
      <br />
      <p>计算属性：</p>
      <!-- <p>{{ getHelloWord }}</p> -->
      <p>
        <span>字符串插值：</span>
        <span class="highlight">{{ className }}</span>
      </p>
      <p>v-text指令 双绑 嵌套：</p>
      <p class="highlight" v-text="child.someStr"></p>
      <p>v-html 指令：</p>
      <p class="highlight" v-html="htmlStr"></p>
      <button v-on:click="clickBtn">change model</button>
      <button @click="clickBtn">change model</button>
    </div>

    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.js"></script> -->
    <script src="./js/observer.js"></script>
    <script src="./js/watcher.js"></script>
    <script src="./js/compile.js"></script>
    <script src="./js/mvvm.1.js"></script>
    <script>
      var vm = new MVVM({
        el: "#mvvm-app",
        data: {
          someStr: "双绑 浅层",
          className: "字符串插值",
          htmlStr: '<span style="color: red;">HTML包含样式</span>',
          child: {
            someStr: "双绑 嵌套",
          },
        },

        computed: {
          getHelloWord: function () {
            return this.someStr + this.child.someStr;
          },
        },

        methods: {
          clickBtn: function (e) {
            var randomStrArr = ["childOne", "childTwo", "childThree"];
            this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
          },
        },
      });

      // vm.$watch("child.someStr", function () {
      //   console.log(arguments);
      // });
    </script>
  </body>
</html>
